body {
	background-color: #00FFFB;
}
}
.profile-pic{
	max-height: 100%;
}

.profile-title{
	color:#dd139d;
}
body{
	font-family: 'Anton', sans-serif;
}

h1,h2,h3{
	font-family: 'Anton', sans-serif;
}



